* {
    border: 1px solid red;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 50px 1fr;
    
    grid-template-areas: 
        "head"
        "pageNav"
        "mainContent";
}

    .half-size-charts,
    .member-info,
    .message-and-settings {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
    
    h1 {
      padding: 5px;
      color: white;
    }

    header {
        grid-area: head;
        display: flex;
        justify-content: space-between;
        
    }

    .header-img {
      border-radius: 50%;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 5px;
      margin-left: 10px;
      width: 60px;
    }

    .header-name {
      padding-top: 20px;
      padding-right: 20px;
      color: #FFFAF0;
      font-weight: normal;
    }

    .header-right {
        display: flex;
    }
    
    nav {
        grid-area: pageNav;
        display: flex;
    }

    .nav-img {
        width: 70px;
        margin: auto;

    }
   
    
    main {
        grid-area: mainContent;
        display: grid;
        grid-gap: 2px;
    }

    .bell {
      width: 25px;
      margin-top: 15px;
      margin-right: 30px;
    }

   

    .dash-top {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .headline {
      font-weight: normal;
    }

    .main-header-search {
      margin-right: 10px;
    }

    

    .profile-image {
      border-radius: 50%;
      width: 40px;
    }

    .social-media-info {
      display: flex;
    }

    .social-1, 
    .social-2,
    .social-3 {
        flex-grow: 1;
    }

    .members-container {
        display: flex;
        margin-bottom: 20px;
        border-bottom: 1px solid #AFEEEE;
    }

    .social-image svg {
      width: 50px;
    }

    div + p {
        margin-left: auto;
    }

    .form-field,
    .form-area,
    .button-primary {
        display: block;
    }

    .button-save {
        display: inline-block;
        }

    .toggle-switch {
        position: absolute;
        visibility: hidden;
      }
      .toggle-state {
        cursor: pointer;
        position: relative;
        background: grey;
        display: inline-block;
        width: 90px;
        height: 32px;
        vertical-align: middle;
        border-radius: 50px;
      }
      .toggle-state::before,
      .toggle-state::after {
        color: #fff;
        transition: left 0.25s;
        text-transform: uppercase;
        font-weight: bold;
      }
      .toggle-state::before {
        content: "";
        left: 6px;
        top: 6px;
        position: absolute;
        background: #fff;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50px;
      }
      .toggle-state::after {
        content: "off";
        position: relative;
        left: 50px;
        top: 8px;
      }
      .toggle-switch:checked + .toggle-state {
        background: green;
      }
      .toggle-switch:checked + .toggle-state::before {
        left: 57.5px;
      }
      .toggle-switch:checked + .toggle-state::after {
        left: 9.5px;
        content: "on";
      }

    @media (min-width: 768px) {
        .grid-container {
            grid-template-rows: 70px 60px 1fr;
        }
    }
    @media (min-width: 1024px) {
        .grid-container {
            grid-template-columns: 60px 1fr;
            grid-template-rows: 60px 1fr;
     

    grid-template-areas:
        "head head"
        "pageNav mainContent";
    }

    .search {
      padding: 10px;
      width: 400px;
    }

    .half-size-charts,
    .social-media-info,
    .member-info,
    .message-and-settings {
        display: grid;
        grid-gap: 2px;
    }

    .social-media-info {
        grid-template-columns: repeat(3, 1fr);
     }
     
}




