* {
    border: 1px solid red;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 50px 1fr;
    
    grid-template-areas: 
        "head"
        "pageNav"
        "mainContent";
}

    .half-size-charts,
    .member-info,
    .message-and-settings {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
    
    h1 {
      padding: 5px;
      color: white;
      font-size: 25px;
    }

    h1:after {
      content:  "TM";
      font-size: 10px;
      position: absolute;
    }

    header {
        grid-area: head;
        display: flex;
        
        
        
    }

    .header-img {
      border-radius: 50%;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 5px;
      margin-left: 10px;
      width: 40px;
    }

    .header-name {
      padding-top: 20px;
      padding-right: 20px;
      color: #FFFAF0;
      font-weight: normal;
    }

    .header-right {
        display: flex;
    }
    
    nav {
        grid-area: pageNav;
        display: flex;
    }

    .nav-img {
        width: 70px;
        margin: 2px;
    }
   
    
    main {
        grid-area: mainContent;
        display: grid;
        grid-gap: 2px;
    }

    .bell {
      width: 25px;
      margin-top: 15px;
      margin-left: 10px;
      
    }

   

    .dash-top {
        display: flex;
        
    }

    .headline {
      font-weight: normal;
    }

    .main-header-search {
      margin-right: 10px;
    }

    .search {
      padding: 10px;
      width: 200px;
    }

    .profile-image {
      border-radius: 50%;
      width: 40px;
    }

    .alert-banner {
      display: flex;
      justify-content: space-between;
      font-size: 1em;
    }



    .traffic-nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
    }

    .traffic-nav li {
      margin-left: 5px;
    }

    .traffic-header {
      display: flex;
      /* justify-content: space-between; */
      margin-bottom: 30px;
    }

    .active {
      color: #fff;
      background-color: green;
      font-size: 20px;
      padding: 0 10px;
      border-radius: 20%;

    }

    /* .social-media-info {
      display: flex;
    } */

    .social-1, 
    .social-2,
    .social-3 {
        flex-grow: 1;
    }

    .social-image svg {
      width: 50px;
    }

    .members-container {
        display: flex;
        margin-bottom: 20px;
        border-bottom: 1px solid #AFEEEE;
    }

    div + p {
        margin-left: auto;
    }

    .form-field,
    .form-area,
    .button-primary {
        display: block;
    }

    .button-save {
        display: inline-block;
        }

    .toggle-switch {
        position: absolute;
        visibility: hidden;
      }
      .toggle-state {
        cursor: pointer;
        position: relative;
        background: grey;
        display: inline-block;
        width: 90px;
        height: 32px;
        vertical-align: middle;
        border-radius: 50px;
      }
      .toggle-state::before,
      .toggle-state::after {
        color: #fff;
        transition: left 0.25s;
        text-transform: uppercase;
        font-weight: bold;
      }
      .toggle-state::before {
        content: "";
        left: 6px;
        top: 6px;
        position: absolute;
        background: #fff;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50px;
      }
      .toggle-state::after {
        content: "off";
        position: relative;
        left: 50px;
        top: 8px;
      }
      .toggle-switch:checked + .toggle-state {
        background: green;
      }
      .toggle-switch:checked + .toggle-state::before {
        left: 57.5px;
      }
      .toggle-switch:checked + .toggle-state::after {
        left: 9.5px;
        content: "on";
      }

    @media (min-width: 768px) {
        .grid-container {
            grid-template-rows: 70px 60px 1fr;
        }
    }
    @media (min-width: 1024px) {
        .grid-container {
            grid-template-columns: 60px 1fr;
            grid-template-rows: 60px 1fr;
     

    grid-template-areas:
        "head head"
        "pageNav mainContent";
    }

    header {
      display: flex;
      justify-content: space-between;
    }

    h1 {
      padding: 10px;
    }

    .bell {
      margin-right: 30px;
    }

    .dash-top {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      margin-bottom: 30px;

    }

   

    .search {
      padding: 10px;
      width: 400px;
    }

    .alert {
      font-size: 20px;
      padding: 10px;
    }

    .alert-banner-close {
      font-size: 20px;
    }

    nav {
      flex-direction: column;
    }

    .nav-img {
      margin-top: 50px;
      height: 5%;
    }

    main {
      margin: 1%;
    }

    .traffic-header {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
    }

    .traffic-nav li {
      margin-left: 30px;
    }

    .half-size-charts,
    .social-media-info,
    .member-info,
    .message-and-settings {
        display: grid;
        grid-gap: 30px;
    }

    .social-media-info {
        grid-template-columns: repeat(3, 1fr);
     }
     
}

.social-1,
.social-2,
.social-3 {
  display: flex;
  margin: 10px;
  padding: 20px;
}

.social-image {
  margin-top: 10px;
  margin-right: 10px;
}

.social-number {
  font-size: 50px;
}

